Django==1.8.2
django-admin-bootstrapped==2.5.0
django-crispy-forms==1.4.0
django-dotenv==1.3.0
django-getenv==1.3.1
djangoajax==2.2.15
httplib2==0.9.1
ipython==3.1.0
oauth2==1.5.211
Pillow==2.8.1
python-openid==2.2.5
